Django==3
django-allauth
django-cors-headers
django-filter
django-heroku
django-nested-admin
django-redis
django-rest-auth
djangorestframework
coreapi
drf-yasg
gunicorn
Pillow
python-decouple
redis
Faker
whitenoise
django-cloudinary-storage
numpy
opencv-python
django-widget-tweaks
channels_redis
channels
daphne