{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block extra_stylesheet %}

{% endblock extra_stylesheet %}



{% block content %}

    <center>
        <div id="container">
            <video width="200" height="200" autoplay="true" id="video">
            </video>
        </div>
        <img style='display:block;' id='base64image'
       src='data:image/jpeg;base64,' />
        <h2>WebSocket Test: {{ pose.name|upper }}</h2>
        <p id = "output"></p>

        <canvas id="canvas" style="overflow:auto" hidden></canvas>
        <br></br>
    </center>

{% endblock content %}




{% block extra_scripts %}
<script>

var video = document.querySelector("#video");

if (navigator.mediaDevices.getUserMedia) {
      navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
          video.srcObject = stream;
        })
        .catch(function (err0r) {
          console.log("Something went wrong!");
        });
 }
var resultb64="";







<!--WEB SOCKET IMPLEMENTATION-->

var wsUri = "ws://127.0.0.1:8000/ws/poses/{{ pose.id }}/";
websocket = new WebSocket(wsUri);
websocket.onopen = function(evt) {
    onOpen(evt)
 };

 websocket.onmessage = function(evt) {
    onMessage(evt)
 };

 websocket.onerror = function(evt) {
    onError(evt)
 };



    function onOpen(evt) {
        writeToScreen("CONNECTED");
    }

    function onMessage(evt) {
        const response = JSON.parse(evt.data);
        var base64image = "data:image/jpeg;base64,".concat(response.image)
        const analysis = response.analysis
        document.getElementById('base64image').src = base64image;
        writeToScreen(analysis);
    }

    function onError(evt) {
        writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
    }

    function doSend(message) {
        websocket.send(message);
    }

    function writeToScreen(message) {
        output = document.getElementById("output");
        output.style.wordWrap = "break-word";
        output.innerHTML = message;
    }

<!--WEBSOCKET IMPLEMENTATION ENDED-->




function everyTime() {
	capture();
}

var myInterval = setInterval(everyTime, 2000);

function capture() {
    var canvas = document.getElementById('canvas');
    var video = document.getElementById('video');

    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;

    canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
    var resultb64 = canvas.toDataURL();

    var data = {"image": resultb64};
<!--    console.log(JSON.stringify(data));-->
    doSend(JSON.stringify(data));
}




</script>
{% endblock extra_scripts %}
